#picView-overlay,#picView-level1{
position:fixed;
left:0;
top:0;
bottom:0;
right:0;
}
#picView-overlay{
background:#000;
opacity:0.8;
z-index:99998;
}
#picView-level1{
z-index:99999;
}
#picView-level2{
width:600px;
height:600px;
background:#fff;
margin:auto;
margin-top:5%;
position:relative;
z-index:99999;
}
#picView-close{
position:absolute;
top:-30px;right:-30px
}
#picView-prev{
position:absolute;
top:260px;left:-60px
}
#picView-next{
position:absolute;
top:260px;right:-60px
}
#picView-level3{
width:600px;
height:600px;
margin:auto;
text-align:center;
vertical-align:bottom;
line-height:600px;
}
#picView-real{
max-width:600px;
max-height:600px;
margin:auto;
}
#picView-container{
display:none;
}